body  {
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 30px;
}

.loading {
  display: block;
  margin: 100px auto;
}

.loading path {
  fill: #495057;
  animation: fade 0.8s steps(8) infinite;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav a {
  display: block;
  padding: 5px 10px;
  color: initial;
}

.main {
  margin-bottom: 20px;
  padding: 30px 0;
}

.footer {
  padding: 5px;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
  text-align: center;
  color: #868e96;
}

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}
